<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Our services</a></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Affiliate program</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">Shipping</a></li>
          <li><a href="#">Returns</a></li>
          <li><a href="#">Order status</a></li>
          <li><a href="#">Payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="#">Men</a></li>
          <li><a href="#">Wowen</a></li>
          <li><a href="#">shoes</a></li>
          <li><a href="#">Bags</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <button *ngIf="showBtn$ | async" class="top-btn" (click)="gotoTop()">
          <img src="https://ps.w.org/back-to-the-top-button/assets/icon-256x256.png?rev=2283756"
            style="width: 60px; height: 60px; border: none;" alt="">
        </button>
      </div>
    </div>
  </div>
</footer> -->


<div class="container-fluid bg-dark text-light">
  <div class="row px-xl-5 ">
    <div class="col-lg-10 col-md-12  pr-3 mt-4 pr-xl-5">
      <p class="mb-2"><i class=" text-warning mr-3"></i></p>
      <p class="mb-2"><i class="fa fa-map-marker-alt text-warning mr-3"></i>123 Street, New York, USA</p>
      <p class="mb-2"><i class="fa fa-envelope text-warning mr-3"></i>info@example.com</p>
      <p class="mb-0"><i class="fa fa-phone-alt text-warning mr-3"></i>+012 345 67890</p>
    </div>
    <div class="col-lg-2 col-md-12 mb-5 pr-xl-5 justify-content-center p-2">
      <h6 class="text-light mt-4 mb-3">FOLLOW US</h6>
      <div class="d-flex justify-content-between" style="width:120px ;">
        <a class="btn btn-warning btn-square mr-5 " href="https://facebook.com">
          <i class="fab fa-facebook-f fs-3"></i></a>
        <a class="btn btn-warning btn-square mr-5" href="https://twitter.com"><i class="fab fa-twitter fs-3"></i></a>
        <a class="btn btn-warning btn-square mr-5" href="https://instagram.com"><i
            class="fab fa-instagram fs-3"></i></a>
        <a class="btn btn-warning btn-square mr-5" href="https://pinterest.com"><i
            class="fab fa-pinterest fs-3"></i></a>

      </div>
    </div>
  </div>
  <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="col-md-9 px-xl-0">

      <p class="mb-md-0 text-md-left text-light">
        &copy; <a class="text-warning" href="#">Domain</a>. All Rights Reserved. Designed
        by
        <a class="text-warning">AmaLMohamed</a>
      </p>

    </div>
    <div class="col-md-3 px-xl-0 text-md-right">
      <img class="img-fluid" src="assets/payments.png" alt="">
    </div>
  </div>
</div>

<button *ngIf="showBtn$ | async" class="top-btn" (click)="gotoTop()">
  <img src="assets/top.png" class="rounded-circle  rounded" width="60px" height="60px" alt="">
</button>